archive/backend/src/main/resources/application.properties
archive/frontend/node_modules
node_modules
.vscode
.idea
backend/src/main/resources/application.properties
backend/src/main/java/com/example/CMPE451/config/WebConfig.java
backend/src/main/resources/application.properties
