services:
  backend:
    build: backend
    environment:
      # Database Connection
      - DB_HOST=${DB_HOST}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

      # DigitalOcean Spaces Config
      - DO_SPACES_ACCESS_KEY=${DO_SPACES_ACCESS_KEY}
      - DO_SPACES_SECRET_KEY=${DO_SPACES_SECRET_KEY}
      - DO_SPACES_BUCKET_NAME=${DO_SPACES_BUCKET_NAME}
      - DO_SPACES_REGION=${DO_SPACES_REGION}
      - DO_SPACES_PHOTO_FOLDER=${DO_SPACES_PHOTO_FOLDER}
      - DO_SPACES_POST_PHOTO_FOLDER=${DO_SPACES_POST_PHOTO_FOLDER}

      # Qdrant Config
      - QDRANT_HOST=${QDRANT_HOST}
    networks:
      - appnet
    ports:
      - "127.0.0.1:8080:8080"
    depends_on:
      - qdrant-db

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    networks:
      - appnet
    ports:
      - "127.0.0.1:3000:3000"

  qdrant-db:
    image: qdrant/qdrant:v1.15.0
    container_name: qdrant-db
    restart: always
    networks:
      - appnet
    volumes:
      - qdrant_storage:/qdrant/storage
    ports:
      - "6333:6333"

networks:
  appnet:
    driver: bridge

volumes:
  qdrant_storage: